body {
    background-color: #242424;
}

.game {
    text-align: center;
    margin-top: 20px;
}

canvas {
    width: 45%;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: #121212;
    margin: 0 auto;
}