body {
    background-color: #242424;
}

html::-webkit-scrollbar{
    display: none;
}

.game {
    text-align: center;
    margin-top: 20px;
}

canvas {
    cursor: url("../Assets/images/reticle-shift.png") 26 25, auto;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: #121212;
    margin: 0 auto;
}